body {
	color:#000000;
	background-color:#FFFFFF;
	background-image:url('https://bustedsocket.com/resources/images/straws.png');
	background-repeat:repeat;
	background-attachment:fixed;
	font-family:'Site Font';
	margin:0;
}

.headertext {
	display: inline;
}

div.header {
	background-color:#50bbff;
	position:fixed;
	width:100%;
	height:3.5em;
	top:0;
	overflow:auto;
	padding-left:2%;
	padding-right:2%;
	padding-top:0.5em;
}

div.header a {
	color:#FFFFFF;
}

div.content-pane {
	background-color:#FFFFFF;
	outline: thin #000000 solid;
	outline-style:dotted;
	padding-bottom:3%;
	margin-left:10%;
	margin-right:10%;
	padding-top:2%;
}

div.content {
	padding-left:10%;
	padding-right:10%;
	margin:3.5em 100% 0;
	padding-top:1%;
	background-color:#ffffff;
	margin-left:10%;
	margin-right:10%;
	/*display:block;*/
	overflow:auto;
	padding-bottom:5%;
}

.motto {margin-top:-1.5em;}

hr {
	border-top:1px dotted #000;
	margin-bottom:5%;
	margin-top:3%;
	margin-left:5%;
	margin-right:5%;
}

code {
	background-color:#DCDCDC;
}

img.logo {
	height: 5em;
	border:1px solid #000;
	margin-top:0.6em;
	margin-bottom:-1.4em;
}

a  { color:#A9A9A9; }
a:visited { color:#A9A9A9; }
a:hover { color:#000000; }
a:active { color:#000000; }
/* Don't underline links */
a:link {text-decoration: none;}
a:visited {text-decoration: none;}

@font-face {
	font-family: "Site Font";
	src: url(https://bustedsocket.com/resources/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}


<!-- Article Styling -->

article {

}
