:root {
	--primary:#313131;
	--secondary:#fefefe;
	--text-dark:#313131;
	--text-light:#FFFFFF;
	--accent:#536DFE;

}

body {
	color:#000000;
	background-color:var(--primary);
	/* background-image:url('https://bustedsocket.com/resources/images/straws-70-dark.png'); */
	background-repeat:repeat;
	background-attachment:fixed;
	background-size:3em;
	font-family:'Site Font';
	/*margin:0;*/
}

.headertext {
	display: inline;
}

div.header {
	/*background-color:#3F51Bf;/
	/*position:fixed;*/
	/*width:100%;*/
	/*height:3.5em;*/
	/*top:0;*/
	overflow:auto;
	padding-left:2%;
	padding-right:2%;
	/*padding-top:0.5em;*/
	margin-left:25%;
	margin-right:25%;
	color:var(--text-light);
}

div.header a {
	color:var(--text-light);
}

div.content {
	padding-left:0%;
	padding-right:0%;
	/*margin:3.5em 100% 0;/
	padding-top:1%;
	background-color:var(--primary);
	margin-left:25%;
	margin-right:25%;
	/*display:block;*/
	overflow:auto;
	padding-bottom:5%;
}

.motto {margin-top:-1.5em;}

hr {
	border-top:1px dotted #000;
	margin-bottom:5%;
	margin-top:3%;
	margin-left:5%;
	margin-right:5%;
}

code {
	background-color:#DCDCDC;
}

img.logo {
	height: 5em;
	border:1px solid #000;
	margin-top:0.6em;
	margin-bottom:-1.4em;
}

img {
	max-width:100%;
}

h2.inline, p.inline {
	display:inline;
}

a  { color:var(--accent); }
a:visited { color:var(--accent); }
a:hover { color:#000000; }
a:active { color:#000000; }
/* Don't underline links */
a:link {text-decoration: none;}
a:visited {text-decoration: none;}

h2.inline, a.inline {
	color:#000000;
}

@font-face {
	font-family: "Site Font";
	src: url(https://bustedsocket.com/resources/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}


article p {
color:#555555;
}

article {
	border:1px solid var(--secondary);
	border-radius:25px;
	padding-left:2%;
	padding-right:2%;
	background-color:var(--secondary);
	margin-left:25%;
	margin-right:25%;
	margin-top:2%;
}
